@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Azeret Mono", monospace;
}

/* nav section style start here */

.nav-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-section h2 {
    margin-top: 50px;
}

.nav-section button {
    margin-top: 38px;
    cursor: pointer;
}

.nav-section button {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;

    padding: 17px 24px 17px 24px;
    box-sizing: border-box;
    /* border: 1px solid rgb(13, 19, 33); */
    border-radius: 8px;
    opacity: 0.8;
}

/* nav section style end here */



/* Banner Section style Start here */
.banner-section-container {
    max-width: 1440px;
    height: 652px;

    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 74px;
}

.banner-section-container {
    background-image: url("../assets/Hero-bg.png");
}

.banner-content {
    max-width: 998px;
    height: 581px;

    /* border: 2px solid green; */
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-content img {
    max-width: 240.28px;
    height: 240px;
    margin-top: 26px;
    margin-bottom: 32px;
}

.banner-content h1 {

    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;

    text-align: center;
    margin-bottom: 24px;
}

.banner-content p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 32px;
}

.banner-content button {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 21px 24px 21px 24px;
    text-align: center;
    cursor: pointer;
}

/* Banner Section style end here */




/* why web development section style start here  */
.why-web-dev-container {
    max-width: 1140px;
    height: 1393px;

    /* border: 2px solid red; */
    margin: 0 auto;

    margin-top: 10px;
    margin-bottom: 90px;
    padding: 80px 97px 80px 97px;

    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}

.why-web-dev-content {
    max-width: 852px;
    height: 113px;
    /* border: 2px solid fuchsia; */
    margin: 0 auto;
}

.why-web-dev-content h1 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
    text-align: center;
}

.why-web-dev-content p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    /* margin: 24px 0px; */
    text-align: center;
}



/* card 1 and 3 */

.item-type-1 {
    max-width: 946px;
    height: 336px;
    padding: 48px;

    /* border: 1px solid red; */

    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.item-type-1-left {
    /* max-width: 477px;
    height: 219px; */

    width: 50%;
    height: 100%;

    /* border: 1px solid black; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */


}

.item-type-1-left h1,
.item-type-2-right h1 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    margin: 16px 0px;
}

.item-type-1-left p,
.item-type-2-right p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin: 16px 0px;
    margin-bottom: 20px;

}

.learn-more {
    color: rgb(13, 19, 33);
    /* font-size: 20px;
    font-weight: 600; */
    /* box-sizing: border-box; */
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    /* padding: 10px 20px; */
    padding: 5px 20px;
}

.learn-more a {
    text-decoration: none;
}

.item-type-1-right {
    width: 50%;
    height: 100%;

    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;

}

.item-type-1-right img {
    max-width: 259.56px;
    height: 217.01px;
}


/* card -2 */
.item-type-2 {
    max-width: 946px;
    height: 336px;
    padding: 48px;

    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);

    display: flex;
    flex-direction: row;

    justify-content: start;
    align-items: start;

}

.item-type-2-left {
    width: 35%;
    height: 100%;

    /* border: 1px solid yellow; */
}

.item-type-2-right {
    width: 70%;
    height: 100%;
    /* border: 1px solid mediumspringgreen; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    gap: 10px;
}

.why-web-dev-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    /* border-radius: 16px;
    background-color: rgba(13, 19, 33, 0.02); */
}

/* why web development section style  end here  */



/* My Inspiration Section style start here */
.my-inspiration-container {
    max-width: 1140px;
    height: 775px;

    /* border: 2px solid red; */
    margin: 0 auto;
    margin-bottom: 151px;
}

.my-inspiration-content {
    width: 852px;
    height: 113px;

    /* border: 2px solid green; */
    margin: 0 auto;
}

.my-inspiration-content h1 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}

.my-inspiration-content p {
    color: rgb(13, 19, 33);

    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    text-align: center;

}

.my-inspiration-video {
    width: 1140px;
    height: 614px;
    margin-top: 48px;
    padding: 32px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;


    /* border: 1px solid goldenrod; */

}

.video-container {
    width: 100%;
    height: 100%;
}

.video-container iframe {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    border: none;
}

/* My Inspiration Section style end here */

/* My current target Section style start here */
.current-target-container {
    max-width: 1140px;
    height: 460px;

    margin: 0 auto;
    margin-bottom: 111px;

    /* border: 1px solid red; */
}

.current-target-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.current-target-content {
    width: 852px;
    height: 113px;

    /* border: 1px solid black; */
    margin: 0 auto;
    margin-bottom: 48px;
}

.current-target-content h1 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px
}

.current-target-content p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;

}

/* target cards */
.target-card-1 {
    width: 364px;
    height: 299px;
    border-radius: 16px;

    padding: 40px;

    /* border: 1px solid rgb(0, 255, 102); */
}

.target-card-1 img {
    width: 56px;
    height: 56px;
    margin-bottom: 24px;
}

.target-card-1 h2 {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 8px;
}

.target-card-1 p {

    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}

.target-card-1 span a {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
}

.bg-html {
    background-color: rgba(255, 76, 30, 0.05);
}

.bg-css {
    background-color: rgba(0, 76, 232, 0.05);
}

.bg-js {
    background-color: rgba(255, 223, 0, 0.05);
}

/* My current target Section style end here */



/* My Next Target section style start here */
/* /////////////////////////////////////// */
/* My Next Target section style end here */



/* I Need Support Section style Start here  */
.support-container {
    max-width: 1140px;
    height: 313px;

    /* border: 2px solid red; */
    margin: 0 auto;
    margin-bottom: 80px;

    background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)), url("../assets/handshake.jpg");


    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;

    padding: 64px 48px 64px 48px;
}

.support-content {
    max-width: 1044px;
    height: 185px;
    /* border: 2px solid yellow; */

    margin: 0 auto;

    /* background-color: aquamarine; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;



}

.support-content h1 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
}

.support-content p {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
}

.support-content input[type="text"] {
    color: rgba(13, 19, 33, 0.4);
    width: 548px;
    height: 57px;
    font-size: 16px;
    font-weight: 400;

    border: none;
    /* border: 1px solid rgba(13, 19, 33, 0.15); */

    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 19px 20px 19px 20px;
}

.support-content input[type="submit"] {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 17px 20px 17px 20px;
    width: 120px;
    height: 57px;
    border: none;
}

/* I Need Support Section style end here  */